@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes pulse {
  0%,
  100% {
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.33);
  }
}

.switch:hover  {
  border-radius: 50%;
  /* border: 5px solid #f0f; */
  /* height: 30px;
  width: 30px; */
  animation: pulse 2s infinite;
}

.circle:hover {
  transform: scale(1.33);
  /* animation-play-state: paused; */
}

.btn-bg{

  background: linear-gradient(150deg,#ff702a 0%,#c507c9 100%) !important;
  box-shadow: none;
  border-radius: 4px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  color: #fff !important;
  letter-spacing: 0px;
  text-transform: capitalize;
  border: 0 none;
  padding: 10px 40px 11px 16px;
  line-height: 19px;
  text-align: left;
  position: relative;
}